# db
*.sqlite3

# virtual environments
/.venv.*

# python caches
__pycache__

# django migrations
migrations

# collected static files / media
cmb/static
cmb/media/**/*

# configs
cmb/cmb_sample/config.py
