{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ snippets.calendar_title }}</title>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <!-- todo make description translatable -->
    <meta name="description" content="{{ snippets.home_title }} - Calendar" />
    {% include "include/dependencies.html" %}
  </head>
  <body>
    {% include "include/sidebar-menu.html" %} {% include "include/background-image.html" %}
    <div class="w3-main" style="margin-left: 40%; height: 100%">
      {% include "include/topbar-menu.html" %}
      <div class="w3-padding-large cmb-fade-in" style="min-height: 75%">
        {% include "include/open-sidebar-menu.html" %}
        <h1 class="w3-center w3-hide-large w3-hide-medium">{{ snippets.calendar_title }}</h1>
        {% include "include/calendar-switch.html" %} {% include "include/calendar-entries.html" %}
        <!--  -->
        {% if content.count > 3 %} {% include "include/calendar-switch.html" %} {% endif %}
      </div>
      <footer class="w3-container w3-center w3-xlarge">{% include "include/social-media-sample.html" %}</footer>
    </div>
  </body>
</html>
