{% with button_style="w3-bar-item w3-button w3-text-grey w3-hover-black" %}
<nav
  class="w3-sidebar w3-black w3-animate-right w3-xxlarge"
  id="menu-sidebar"
  style="display: none; padding-top: 150px; right: 0; z-index: 2"
>
  <btn class="{{button_style}} w3-xlarge w3-display-topright" onclick="closeNav()" style="padding: 24px">
    <i class="fa fa-remove"></i>
  </btn>
  <!-- todo make translatable -->
  <div class="w3-bar-block w3-center">
    <a class="{{button_style}}" href="/home" onclick="closeNav()">About</a>
    <a class="{{button_style}}" href="#" onclick="closeNav()">News</a>
    <a class="{{button_style}}" href="#" onclick="closeNav()">Calendar</a>
    <a class="{{button_style}}" href="#" onclick="closeNav()">Media</a>
    <a class="{{button_style}}" href="/contact" onclick="closeNav()">Contact</a>
  </div>
</nav>
{% endwith %}
