{% with button_style="w3-bar-item w3-button w3-text-grey w3-hover-white" %}
<style>
  #menu-topbar a {
    display: inline;
  }
  #menu-topbar a:hover {
    font-weight: 700;
  }
</style>
<nav id="menu-topbar" class="w3-hide-small">
  <!-- todo make translatable -->
  <div class="w3-bar-block w3-center">
    {% for entry in menu_entries %}
    <a class="{{button_style}}" href="{{entry.url}}">{{entry.name}}</a>
    {% endfor %}
  </div>
  <hr style="opacity: 0.5; margin-top: 12px" />
</nav>
{% endwith %}
