body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

.w3-row-padding img {
  margin-bottom: 12px;
}

hr {
  border-width: 3px;
}

.grayscale-85 {
  -webkit-filter: grayscale(85%); /*WebKit*/
  filter: grayscale(85%);
  opacity: 60%;
}
.grayscale-50 {
  -webkit-filter: grayscale(50%); /*WebKit*/
  filter: grayscale(50%);
  opacity: 90%;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #7e7e7e;
}
::-webkit-scrollbar-thumb {
  background: #cfcfcf;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #888888;
  border-radius: 4px;
}
