:root {
  --primary: #525252;
  --primary-bg: #fff;
  --secondary: #fff;
  --accent: rgb(62, 103, 152);
  --accent-opaque: rgb(62, 103, 152, 0.1);

  --header: var(--primary);
  --border: var(--accent-opaque);

  --menu-item: var(--primary);
  --menu-item-hover: black;
  --menu-item-hover-light: white;
  --menu-side-bg: black;
  --menu-top-bg: var(--secondary);

  --input-bg: #ffffff35;

  --menu-item-padding: 12px;

  --link: var(--primary);

  --msg-success-bg: #ddffdd;
  --msg-error-bg: #ffdddd;
}

/* tags */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--header);
  font-family: "Montserrat", sans-serif;
}

a:hover {
  color: var(--menu-item-hover);
}

html,
body {
  color: var(--primary);
  background-color: var(--primary-bg);
  height: 100%;
  min-height: 100%;
}

hr {
  border-width: 3px;
  border-color: var(--border);
}

/* scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #7e7e7e;
}

::-webkit-scrollbar-thumb {
  background: #cfcfcf;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888888;
  border-radius: 4px;
}

/* content management buddy */

/* menu */
#cmb-menu-topbar {
  color: var(--menu-item);
  background-color: var(--menu-top-bg);
}

#cmb-menu-sidebar {
  color: var(--menu-item);
  background-color: var(--menu-side-bg);
}

#cmb-menu-topbar .cmb-accent {
  border-bottom: 3px solid var(--accent);
}

#cmb-menu-sidebar .cmb-accent::before,
#cmb-menu-sidebar .cmb-accent::after {
  content: " = ";
}

#cmb-menu-sidebar .cmb-menu-item {
  font-size: 3rem;
  cursor: pointer;
  text-decoration: none;
  padding-left: var(--menu-item-padding);
  padding-right: var(--menu-item-padding);
  display: block;
}

#cmb-menu-sidebar .cmb-menu-item:hover {
  color: var(--menu-item-hover-light);
}

#cmb-menu-topbar .cmb-menu-item {
  font-size: large;
  cursor: pointer;
  text-decoration: none;
  padding-left: var(--menu-item-padding);
  padding-right: var(--menu-item-padding);
  padding-bottom: 6px;
}

.cmb-menu-item:hover {
  font-weight: 900;
  color: var(--menu-item-hover);
}

.cmb-grayscale-85 {
  -webkit-filter: grayscale(85%); /*WebKit*/
  filter: grayscale(85%);
  opacity: 60%;
}

.cmb-grayscale-50 {
  -webkit-filter: grayscale(50%); /*WebKit*/
  filter: grayscale(50%);
  opacity: 90%;
}

/* contact section */
#cmb-contact-section .invalid {
  background-color: var(--msg-error-bg);
}
#cmb-contact-section .valid {
  background-color: var(--msg-success-bg);
}
#cmb-contact-section input,
#cmb-contact-section textarea {
  border: 0px !important;
  border-bottom: 2px solid var(--border) !important;
  background-color: var(--input-bg);
}
