{%if links.mail %}
<a class="fa fa-envelope w3-hover-opacity" href="{{links.mail}}" rel="noopener noreferrer" target="_blank"></a>
{% endif %}
<!--  -->

{%if links.facebook %}
<a
  class="fa fa-facebook-official w3-hover-opacity"
  href="{{links.facebook}}"
  rel="noopener noreferrer"
  target="_blank"
></a>
{% endif %}
<!--  -->

{%if links.instagram %}
<a class="fa fa-instagram w3-hover-opacity" href="{{links.instagram}}" rel="noopener noreferrer" target="_blank"></a>
{% endif %}
<!--  -->

{%if links.snapchat %}
<a class="fa fa-snapchat w3-hover-opacity" href="{{links.snapchat}}" rel="noopener noreferrer" target="_blank"></a>
{% endif %}
<!--  -->

{%if links.pinterest %}
<a class="fa fa-pinterest-p w3-hover-opacity" href="{{links.pinterest}}" rel="noopener noreferrer" target="_blank"></a>
{% endif %}
<!--  -->

{%if links.twitter %}
<a class="fa fa-twitter w3-hover-opacity" href="{{links.twitter}}" rel="noopener noreferrer" target="_blank"> </a>
{% endif %}
<!--  -->

{% if links.linkedin %}
<a class="fa fa-linkedin w3-hover-opacity" href="{{links.linkedin}}" rel="noopener noreferrer" target="_blank"></a>
{% endif %}
<!--  -->
